.body_index{
  height:100%;
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(circle at 44.39% 114.07%, #ff778f 0, #ff7c7e 3.33%, #ff816e 6.67%, #ff885f 10%, #ff8f50 13.33%, #ff9643 16.67%, #ff9e36 20%, #f7a52a 23.33%, #eaab1f 26.67%, #dbb218 30%, #cbb717 33.33%, #babd1d 36.67%, #a9c127 40%, #96c533 43.33%, #81c941 46.67%, #6acc50 50%, #4ccf60 53.33%, #16d170 56.67%, #00d381 60%, #00d493 63.33%, #00d5a5 66.67%, #00d6b8 70%, #00d6ca 73.33%, #00d6db 76.67%, #00d6ed 80%, #00d5fd 83.33%, #00d3ff 86.67%, #00d2ff 90%, #00cfff 93.33%, #00cdff 96.67%, #00c9ff 100%);
}

.body_details{
  height:100vh;
}


.header_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 10vh;
  width:80%;
  margin: 3rem 0;
  border-radius: 10px;
  border: none;

}
.crud-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width:50vw;
  max-width: 50rem; 
  
  border-radius: 10px;
  padding: 2rem
}

.image_header{
    
    width: 100%;
    max-width: 35rem;
    color: white;
}

.button_container{
  margin: 0.5rem;
  padding: 1rem;
  padding-top:0;
  transform: scale();
  border-radius: 10px;
  
  border: none;
}


.images_list{
  width: 28vw;
  max-width: 20rem;
  height: 20vw;
  max-height: 14rem;
  border-radius: 0 0 8px 8px;
}

.main_container{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main_container_details{
  height: 20%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 90rem; 
  height: 100%;
  background-color: black;
  border-radius: 10px;
  border: none;
  color: white;
}

.paragraph{
  font-size: 16px;
  font-weight: bold;
  color: gray;
  line-height: 6px;
  
}

.paragraph_name{
  font-size: 22px;
  font-weight: bold;
  color: #00c9ff ;
  line-height: normal;
}

.buttons_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10%;
  margin: 1rem 0rem;
}

.button{
  width: 20%;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  min-width:4.2rem;
}

.button_send{
  background-color: white;
  margin:1rem;
  color: black;
}

.button:active{
  transform: scale(0.95);
}

.button_send:hover{
  background-color: black ;
  color: white;
  border: 1px solid white;
}

.button_edit:hover{
  background-color: #0077b6;

}

.button_delete:hover{
  background-color: red;

}

.input{
    border: none;
    margin: 0.2rem;
    background-color: white;
    padding: 0.7rem;
    width: 85%;
    outline: none;
    text-transform: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.input-tarea:focus{
    background-color: #eaeaea;
}

